/* @font-face {
  font-family: 'Inter', sans-serif;
} */
@font-face {
    font-family: 'georgia';
    src: url('./fonts/georgia/Georgia.ttf');
    src: url('./fonts/georgia/Georgia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  font-size: 10px;
  /* background: rgb(149, 194, 215); */
  background: #D1D9E8 ;
}

a {
  text-decoration: none;
}

.logo-text {
  background: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 37px;
  /* font-family: Inter; */
  font-family: Georgia;
}

.thumbnail-item + .thumbnail-item {
  margin-top: 10px;
}

.thumbnail-item {
  display: inline-block;
  width: 120px;
  border: 1px solid rgb(100%, 100%, 100%);
  border: 1px solid rgba(100%, 100%, 100%, 0.8);
}

.thumbnail-list {
  list-style: none;
  padding: 0;
  white-space: nowrap;
  overflow-x: auto;
}

.thumbnail-image {
  display: block;
  width: 100%;
}

.thumbnail-title {
  display: block;
  margin: 0;
  padding: 4px 10px;
  /* background: rgb(96, 125, 139); */
  background: #FF6C5C;
  color: rgb(202, 238, 255);
  font-size: 18px;
}

.detail-image {
  width: 90%;
}
